h1 {
  text-align: center;
  font-family: 'Calibri';
  letter-spacing: 1px;
  font-weight: 100;
  color: crimson;
}

h2 {
  margin-left: 2em;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  h1 {
    margin: 15px 5px;
  }
  h2 {
    margin: 0 35px;
  }
}