body {
    background-color: lightblue;
}

button {
    border: 0;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #f16051;
    color: #fff;
    font-weight: 100;
    outline: none;
}

input[type='text'] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f16051;
    width: 30%;
    padding-bottom: 4px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    color:  black !important;
    outline: none;
}

.weather_key {
    color: #f16051;
    border-bottom: 1px solid #999;
    font-family: 'Calibri';
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 10px;
}

.weather_value {
    color: black;
    font-family: 'Calibri';
    font-weight: 200;
    font-size: 20px;
}

.weather_error, .api_error {
    color: #f16051;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    display: block;
    margin: 1em 2em;
    font-weight: inherit;
}

@media screen and (max-width: 500px) {
    input[type='text'] {
        display: block;
        width: 100%;
    }
    .weather_key {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    .weather_value {
        display: inline-block;
    }
    .weather_error, .api_error {
        display: inline-block;
        width: 100%;
        margin: 1em 2em;
    }
}